.main {
  display: flex;
  flex-direction: row;
}

.home {
  display: flex;
  flex-direction: row;
}

.home-graphics {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.home-second-graphic {
  display: flex;
  flex-direction: row;
  gap: 63px;
  margin-top: 30px;
}

@media screen and (max-width: 1300px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}
