.results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
}

.result-item {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  width: 258px;
  height: 124px;
  align-items: center;
  margin-left: 30px;
}

.result_texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

.result_texts span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: #282d30;
}

.result_texts span:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: #74798c;
}

.result_logo0,
.result_logo1,
.result_logo2,
.result_logo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 20px;
}

.results .result_logo0 {
  z-index: 9;
  background-color: rgba(255, 0, 0, 0.1);
}

.results .result_logo1 {
  background-color: rgb(74, 184, 255, 0.1);
}

.results .result_logo2 {
  background-color: rgb(249, 206, 35, 0.1);
}

.results .result_logo3 {
  background-color: rgb(253, 81, 129, 0.1);
}

.result-item img {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 1440px) {
  .results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
  }
  .result-item {
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    width: 200px;
    height: 124px;
    align-items: center;
    margin-left: 30px;
  }
  .result_logo0,
  .result_logo1,
  .result_logo2,
  .result_logo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  .result-item img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1300px) {
  .results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
  }
  .result-item {
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    width: 200px;
    height: 124px;
    align-items: center;
    margin-left: 30px;
  }
  .result_logo0,
  .result_logo1,
  .result_logo2,
  .result_logo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }

  #root > div > div.main > div.home > div.results > div:nth-child(1) > img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 179px;
  }

  #root > div > div.main > div.home > div.results > div:nth-child(2) > img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 414px;
  }
  #root > div > div.main > div.home > div.results > div:nth-child(3) > img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 645px;
  }
  #root > div > div.main > div.home > div.results > div:nth-child(4) > img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 879px;
  }
}
